<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Codebound Library</title>
</head>
<body>

<div>
    <H1>Here is your book list</H1>
    <div th:each="book: ${book}">
        <h3 th:text="${book.title}"></h3>
        <p th:text="${book.author}"></p>

    </div>

<!--    //make it user friendly-->

    <h1>Add a new Book</h1>
    <a href="/books/add-book">Click here</a>
</div>



</body>
</html>
