<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.0/jquery.min.js} "></script>
</head>
<body>

<!--<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--     <a class="navbar-brand" href="#">Navbar</a>-->

<!--</nav>-->

    <nav th:partials="navbar" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Bootstrap
        </a>
    </nav>



<!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--</button>-->

<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbarNav">-->

<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="/thymeleaf-home">Home-->
<!--                <span class="sr-only">(current)</span></a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Features</a>-->
<!--            </li>-->

<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Info</a>-->
<!--            </li>-->

<!--        </ul>-->


<!--    </div>-->




</body>
</html>
