<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

<h1 th:text="${cohort}"></h1>

<!--form WILL HAVE ACTION OF ON /join USE THE POST METHOD TO POST DATA-->
<form action="/join" method="post">

    <input type="text" name="cohort" id="cohort-ip" class="field"/>
    <button>Join now</button>

</form>

</body>
</html>
