<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Second Guess View</title>
</head>
<body>

<div calss="container">
<!--    display user guess -->
    <div th:if="${thisIsTheUserGuess !=null}">
        <h3>You chose: <span th:text="${thisIsTheUserGuess}"></span></h3>

    </div>

<!--    display random number-->
    <h3>Random number: <span th:text="${random}"></span></h3>

<!--    conditional to see if user guessed right/wrong-->

    <span th:if="${thisIsTheUserGuess}==${random}">

        <h1>You guessed correctly!</h1>
    </span>

    <span th:if="${thisIsTheUserGuess} !=${random}">
        <h1>You guessed wrong, sorry....</h1>
    </span>



</div>



</body>
</html>
