<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<h1>Show</h1>
<th:block th:each="ad:${show}">
    <li th:text="${ad.title}"></li>
    <li th:text="${ad.description}"></li>
    <li th:text="${ad.id}"></li>
</th:block>




</body>
</html>
